body {
    font-family: 'Muish', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: chocolate;
}

.main-title {
    font-weight: 900;
    font-size: 40px;
    line-height: 2.4;
    color: maroon;
    text-decoration: underline 15px solid;
    text-decoration-style: dashed;
    text-underline-offset: 10px;
}
.secondary-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 2;
    color: darkblue;
}
.third-level-heading {
    font-weight: 700;
    font-size: 22px;
    color: mediumslateblue;
}

.font-weight {
    font-family: 'Montserrat', sans-serif;
}
.font-weight-thin {
    font-weight: 100;
    font-size: 20px;
}
.font-weight-extralight {
    font-weight: 200;
    font-size: 22px;
}
.font-weight-light {
    font-weight: 300;
    font-size: 24px;
}
.font-weight-regular {
    font-weight: 400;
    font-size: 26px;
}
.font-weight-medium {
    font-weight: 500;
    font-size: 28px;
}
.font-weight-semibold {
    font-weight: 600;
    font-size: 30px;
}
.font-weight-bold {
    font-weight: 700;
    font-size: 32px;
}
.font-weight-extrabold {
    font-weight: 800;
    font-size: 34px;
}
.font-weight-black {
    font-weight: 900;
    font-size: 36px;
}

.font-style-italic p {
    font-style: italic;
}
.font-style-oblique p {
    font-style: oblique;
}

.text-align-center {
    text-align: center;
}
.text-align-right {
    text-align: right;
}
.text-align-justify {
    text-align: justify;
}

.color-rgba {
    color: rgba(255 0 0 / 50%);
}
.color-hex {
    color: #ffa500;
}
.color-hsl {
    color: hsl(120deg 100% 25.1%);
}

.text-decoration p {
    line-height: 2;
}
.line-through p {
    text-decoration: line-through;
}
.underline p {
    text-decoration: underline;
}
.overline p {
    text-decoration: overline;
}
.grammar-error p {
    text-decoration-line: grammar-error;
}
.spelling-error p {
    text-decoration-line: spelling-error;
}
.thickness p {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 5px;
}
.offset p {
    text-decoration-line: underline;
    text-underline-offset: 10px;
}
.dashed p {
    text-decoration: underline dashed 5px;
    text-underline-offset: 5px;
}
.dotted p {
    text-decoration: underline dotted 5px;
    text-underline-offset: 5px;
}
.double p {
    text-decoration: underline double 5px;
    text-underline-offset: 5px;
}
.wavy p {
    text-decoration: underline wavy 5px;
    text-underline-offset: 5px;
}

.text-shadow p {
    text-shadow: 14px 9px 8px #04A, 32px -11px 9px #39c0a8;
    font-size: 70px;
}

.text-transform-capitalize p {
    text-transform: capitalize;
}
.text-transform-lowercase p {
    text-transform: lowercase;
}
.text-transform-uppercase p {
    text-transform: uppercase;
}

.line-height p {
    line-height: 3;
}
.letter-spacing p {
    letter-spacing: 2px;
}
.white-space p {
    white-space: nowrap;
}
.word-spacing p {
    word-spacing: 5px;
}

.footer {
    text-align: center;
}
.footer a {
    font-size: 30px;
    line-height: 2;
    text-transform: uppercase;
    color: mediumvioletred;
}
