.header {
    padding: 25px 0px;
}
.nav-item {
    display: inline-block;
}
.nav-item ~ .nav-item {
    margin-left: 20px;
}

.header-container,
.home-work-container {
    max-width: 1000px;
    margin: 0 auto 0 auto;
}

.home-work-title {
    font-weight: 800;
    font-size: 50px;
}
.section {
    padding: 30px 0px;
}
.section h2 {
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 20px;
}
.section div ~ div {
    margin-top: 20px;
}

.border {
    background-color: lightgreen;
    border: 5px;
    border-color: crimson;
    width: 400px;
    height: 200px;
    padding: 30px;
}
.border.solid {
    border-style: solid;
}
.border.dotted {
    border-style: dotted;
}
.border.dashed {
    border-style: dashed;
}
.border.double {
    border-style: double;
}

.outline {
    outline: 5px solid orangered;
    padding: 20px;
}

.border-radius {
    background-color: powderblue;
    width: 450px;
    height: 200px;
    padding: 50px;
}
.border-radius.item-1 {
    border-radius: 150px 0;
}
.border-radius.item-2 {
    border-radius: 0 150px;
}
.border-radius.item-3 {
    border-radius: 100%;
}

.box-shadow {
    width: 300px;
    height: 200px;
    padding: 30px;
}
.box-shadow.outset {
    box-shadow: 15px -5px 15px 15px rgba(92, 88, 87, 0.2);
}
.box-shadow.inset {
    box-shadow: inset 5px 5px 10px 20px rgb(24 179 21 / 50%);
}

.opacity {
    background-color: greenyellow;
    font-weight: 800;
    font-size: 80px;
}
.opacity p {
    opacity: 30%;
}

.hidden {
    width: 300px;
    height: 200px;
    visibility: hidden;
}

.checkout {
    background: url(../img/background_wallet.jpg) no-repeat center top / cover;
    padding: 61px 0 97px 0;
    margin-bottom: 30px;
}
.checkout-container {
    max-width: 1285px;
    margin: 0 auto 0 auto;
}
.checkout-content {
    text-align: center;
    line-height: 1.5;
}
.checkout-logo-icon {
    width: 77px;
    height: 77px;
    margin: 0 auto 0 auto;
}
.checkout-title {
    font-weight: 500;
    font-size: 48px;
}
.checkout-bread-crumbs {
    font-size: 0;
}
.checkout-bread-crumbs li {
    display: inline-block;
}
.checkout-bread-crumbs li:not(:last-child) a {
    background: url(../img/arrow.svg) no-repeat center right;
    padding-right: 20px;
}
.checkout-bread-crumbs li ~ li {
    margin-left: 12px;
}
.checkout-bread-crumbs li a {
    font-weight: 500;
    font-size: 16px;
}
.checkout-bread-crumbs li.current a {
    font-weight: 300;
}

.catalist {
    background-image: url(../img/catalist-bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: #030303;
    padding: 94px 0 85px 0;
}
.catalist-container {
    max-width: 1266px;
    margin: 0 auto 0 auto;
}
.catalist-content {
    text-align: center;
}
.catalist-title {
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    font-size: 64px;
    line-height: 1.5;
    color: #F9EFEC;
    margin-bottom: 17px;
}
.catalist-button {
    background-color: #0A84FF;
    min-width: 235px;
    border-radius: 12px;
    padding: 13px;
    font-family: 'Roboto Flex', serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}

.info-text {
    background-color: #030303;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #B3B3B2;
    padding: 30px 0;
}
.info-text-container {
    background-color: #1A1A1A;
    border-radius: 12px;
    max-width: 834px;
    margin: 0 auto 0 auto;
    padding: 32px;
}
.info-text-container h3 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 12px;
    color: #F9EFEC;
}
.info-text-container p:not(:last-child) {
    margin-bottom: 24px;
}
.info-text-container ul {
    margin-bottom: 24px;
}
.info-text-container ul li {
    background: url(../img/list-marker-icon.svg) no-repeat left 4px;
    min-height: 20px;
    padding-left: 26px;
}
.info-text-container ul li ~ li {
    margin-top: 12px;
}
